# Maven target directory
/target/

# Logs
*.log

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
.idea/
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Java-specific
*.class

# Environment files
.env

# Backup or temp files
*.swp
*.bak
*.tmp
